In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import joblib

In [2]:
resPET12 = joblib.load("model_PET12.pkl")

In [4]:
forecast_periods = 5
forecasts = pd.DataFrame(resPET12.forecast(steps=forecast_periods))
forecasts.columns = ['predictions']
forecasts

    predictions
10        80.85
11        80.85
12       130.85
13        87.85
14       154.50

In [6]:
forecasts["time_period"] = pd.to_datetime([
    '2024-04-01',
    '2024-05-01',
    '2024-06-01',
    '2024-07-01',
    '2024-08-01'
], format='mixed')
forecasts

    predictions time_period
10        80.85  2024-04-01
11        80.85  2024-05-01
12       130.85  2024-06-01
13        87.85  2024-07-01
14       154.50  2024-08-01