In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import joblib

In [2]:
resBOPP30 = joblib.load("model_BOPP30.pkl")

In [10]:
forecast_periods = 5
forecasts = pd.DataFrame(resBOPP30.forecast(steps=forecast_periods))
forecasts.columns = ['predictions']
forecasts

    predictions
16       7316.3
17       5394.3
18       5363.5
19       3931.1
20       5396.6

In [11]:
forecasts["time_period"] = pd.to_datetime([
    '2024-05-01',
    '2024-06-01',
    '2024-07-01',
    '2024-08-01',
    '2024-09-01'
], format='mixed')
forecasts

    predictions time_period
16       7316.3  2024-05-01
17       5394.3  2024-06-01
18       5363.5  2024-07-01
19       3931.1  2024-08-01
20       5396.6  2024-09-01